@font-face {
  font-family: "fira_sanslight";
  src: url("./fonts/firasans-light-webfont.woff2") format("woff2"),
    url("./fonts/firasans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(39, 63, 90);
  color: rgb(52, 62, 75);
  font-family: "fira_sanslight", serif !important;
  box-sizing: border-box;
  margin: 0;
}

input {
  padding: 4px;
  border: none;
}

button {
  margin: 0 10px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: rgb(39, 63, 90);
  border: solid 20px rgb(26, 35, 46);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ececec;
  border: solid 20px rgb(26, 35, 46);
  font-size: 16px !important;
  min-height: 5vh;
  min-width: 50vw;
}

.box {
  flex-direction: row;
  align-items: center;
  margin: 40px 20px;
}
